{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<v-content>
<v-container fluid fill-height>
   <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
         <v-card class="elevation-12">
            <v-toolbar dark color="primary">
               <v-toolbar-title>Connexion</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
               <form method="post">
                  <v-row>
                    <v-col cols="12">
                        <v-text-field label="Email" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus ></v-text-field>
                        <v-text-field label="Mot de passe" type="password" name="password" id="inputPassword" class="form-control" required ></v-text-field>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                    </v-col>
                    <v-col cols="12" class="text-right">
                      <v-btn color="primary" href="{{ path("home") }}">Annuler</v-btn>
                      <button color="primary" to="/" type="submit">
                         <v-btn color="primary" to="/" type="submit">Connexion</v-btn>
                      </button>
                    </v-col>
                    <v-col cols="12">
                      {% if error %}
                            <v-alert dense outlined type="error" >{{ error.messageKey|trans(error.messageData, 'security') }}</v-alert>
                        {% endif %}
                    </v-col>







                  </v-row>
               </form>
            </v-card-text>
         </v-card>
      </v-flex>
   </v-layout>
</v-container>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/login.js') }}"></script>
{% endblock %}